body {background-color: #8F8FA0;}

h1 {text-align: center; 
font-family:Arial, Helvetica, sans-serif;
font-style: normal;
color: #D6C6A4;
background-color: #595970;
opacity: calc(70%);
padding: 20px;

border: 2px solid black(68, 117, 129);}
h4 {text-align: center;}


body {
	padding: 40px;
	box-shadow:
		inset #595973 0 0 0 12px;
}


input[type=text] {
    border: 2px solid #595970;
    border-radius: 4px;
  }
  input[type=number] {
    border: 2px solid #595970;
    border-radius: 4px;
  }

table,th,td {
    border: 2px solid #595970;
    border-collapse: collapse;

}
th,td {
    padding: 15px;

}
th{
    text-align: left;
}
tbody > tr:nth-child(even) {
    background-color: #94A799;
  }

tbody > tr:nth-child(odd) {
    background-color: #D6C6A4;
  }

table, tr {
    width: 100%;
}

thead {
    background-color: #75907C;
}

h4.withinBudget {
    background-color: #8F8FA0;
}
h4.overBudget {
    background-color: rgb(172, 71, 71);
}